<!doctype html>
<html lang="en" ng-app="evolentApp">
  <head>
    <meta charset="utf-8">
    <title>Evolent Health Solutions</title>
    <!-- <script src="node_modules/angular/angular.js"></script> -->
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <base href="/" >
  </head>
  <body>

    <div class="view-container">
      <!-- <div ng-view class="view-frame"></div> -->
      <landing-page></landing-page>
    </div>
    <script  src="main.js"></script>
  </body>
</html>
