<app-header></app-header>
<div class="container">
    <div class="row panel panel-primary" >
      <div class="panel-heading">
        <h2 class="panel-title">Evolent Directory</h2>
      </div>
      

      <!--     contact list   	 -->
      <!-- <div class="col-xs-5 panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <h4>Contacts:</h4>
            <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="$ctrl.searchText">
            {{$ctrl.searchText}}
            <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name' | filter: $ctrl.searchText "></contact>
          </li>
        </ul> 
      </div> -->
      <contact></contact>

      
      <!--   ng-view below       -->
      <div class="col-xs-7">
          <!-- <contact-info></contact-info> -->
        <div class="list-group panel-body">
          <div ng-view></div>
        </div>
      </div>
        
    </div>
  </div>
  <app-footer></app-footer>