
 <div class="col-xs-5 panel-body">
    <ul class="list-group">
      <li class="list-group-item"> <h4>Contacts:</h4>
        <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="$ctrl.searchText">
       
        <a
        class="list-group-item" 
        ng-repeat="contact in $ctrl.contacts | orderBy: 'name' | filter: $ctrl.searchText " 
        ng-href="contact-info/{{$ctrl.contacts.indexOf(contact)}}">
            {{contact.name}}
          </a>
      </li>
    </ul> 
  </div>

